/* CSS files add styling rules to your content */

body {
  font-family: ubuntu, serif;
  margin: 2em;
  background-color: #1b1b1b;
  color: white; 
}

h1 {
  background: linear-gradient(to right, #f74337, #fbaf40);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:40px;
}

p{
  color: #acacac;
  font-size:22px;
}

button{
  padding: 10px;
  border-radius: 10px;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}

.hidden{
  display: none;
}